* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  background-color: rgb(35, 31, 31);
  overflow: hidden;
}

.left {
  width: 50%;
  height: 100%;
  border-radius: 1vw;
  background-color: black;
  position: relative;
  border: 3px solid grey;
  padding: 1vw;
}

h1 {
  font-family: monospace;
  font-size: 1.5vw;
  text-align: center;
  background: linear-gradient(90deg, orange, white, green);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  user-select: none;
}

.code {
  width: 100%;
  height: 89%;
  padding: 2vh 0vw;
}

textarea {
  width: 100%;
  overflow: auto;
  background: transparent;
  outline: none;
  resize: none;
  color: white;
  font-size: 1.3vw;
}

button {
  position: absolute;
  bottom: 2%;
  left: 81%;
  padding: 1.5vh 1vw;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 1vw;
  user-select: none;
}

.right {
  background-color: rgb(107, 105, 105);
  width: 50%;
  height: 100%;
  border-radius: 1vw;
  padding: 1.5vw;
  font-size: 1.4vw;
  font-weight: 500;
  overflow: auto;
  text-wrap: pretty;
  line-height: 1.8vw;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .left,
  .right {
    width: 100%;
  }

  h1 {
    font-size: 5vw;
  }

  .code {
    height: 80%;
  }

  button {
    font-size: 3.4vw;
    left: 73%;
    bottom: 2%;
  }

  .right {
    font-size: 4.3vw;
    line-height: 4.4vw;
  }

  textarea {
    width: 100%;
    font-size: 4vw;
    height: 60vw;
  }
}